---
import testImg from "@assets/img/test.svg";
---

<div id="helpWanted" class="scrollspy banner-grey mt-5">
  <div class="phones-container d-print-none">
    <img class="test" src={testImg.src} loading="lazy" />
  </div>

  <div class="col-lg-10 col-sm-12 support-device d-print-none">
    <div class="row">
      <h3 class="h4">Support with casual testing</h3>
      <p class="mt-4">
        Some things are just so important that they need to be tested every day,
        every week, every month. Just hang around in
        <a
          class="underline text-orange"
          target="_blank"
          href="https://t.me/ubports_qa_team">QA group</a
        >
         and try out the stuff that gets flagged. Without your help the
        developers may sit there for days more, trying to figure out the puzzle.
      </p>
      <p class="mt-2">
        Join and introduce yourself
        <span class="bold"
          >“Hi, my name is X, and I own Z. How can I help?”</span
        >
         that will do fine ;)
      </p>

      <p class="mt-2">
        Unless you want to step up to become our
        <a
          href="https://ubports.com/blog/ubports-news-1/post/we-need-you-to-help-test-our-releases-3781"
          target="_blank"
          class="underline">Test Manager</a
        >, but that is a whole different story.
      </p>
    </div>
  </div>
</div>
